// do this one
extends ./parent.jade

append scripts
  script(type='text/javascript' src='js/browse.js')

append stylesheets
  link(rel='stylesheet' type='text/css' href='css/browse.css')

block content
  #browse
    
  #browse-view
//  .whatevs
