// do this one
extends ./parent.jade

append scripts
  script(type='text/javascript' src='js/application/views/browseview.js')
  script(type='text/javascript' src='js/browse.js')
  script(type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

append stylesheets
  link(rel='stylesheet' type='text/css' href='css/browse.css')

block content
  #browse-view
