extends ./parent.jade

append scripts
  script(type='text/javascript' src='js/application/views/gamesview.js')
  script(type='text/javascript' src='js/home.js')

block stylesheets
  link(rel='stylesheet' type='text/css' href='http://bootswatch.com/journal/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='css/home.css')

block content
  #games-view

  #leaderboard-view

  #stock-view
