doctype html
html(lang="en")
  head
    title= "Tests for the newsletter"

    // external libraries
    link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/jasmine.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/jasmine.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/console.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/jasmine-html.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.0.0/boot.js")
    script(src="https://code.jquery.com/jquery-1.11.1.min.js")

    // the files to test

    // the tests

  body
