
#browse-view{
    margin-bottom: 60px;
}

#searchbar {
    margin-top: 0px;
    margin-bottom: 30px;
    height: 30px;
    width: 150px;
    font-size: 17px;
    font-family: "Roboto", "Helvetica Neue", Helvecita, Arial, sans-serif;
    color: black;
    float: left;
}

#add-stock-form {
    background-color: lightgray;
    width: 50%;
    margin: 30px auto auto 25%;
    border-radius: 10px
    font-size: 70px;
}



#game-name {
    margin-top: 10px;
}

#stock-group{
    font-size: 20px;
}

#stock{
    margin-top: 10px;
}


#button-container{
    margin-top: 45px;
    background-color: lightgray;
}

#stock-name{
    margin: 10px;
}

.form-horizontal .control-label {
    font-size: 0.75em;
}

#submit{
    width: 30%;
    position: relative;
}


#cancel-btn{
    width: 30%;
    position: relative;
}


