.wrapper
   .h3 Browse Stocks
   table.table.table-striped.table-hover#browseStocks
      thead
         tr
            th ID
            th Stock Name
            th Price
      tbody
    .modal.fade#modal(tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") x
            h3 Add a Stock to Your Game Portfolio
          .modal-body
            .form-group
              label.col-lg-2.control-label(for="select") Game
              .col-lg-10
                select.form-control#game-select
          .modal-footer.text-center
            .btn.btn-success#submit Submit
