//
   Created by saraf on 12/11/2014.

.wrapper
   .h3 Browse Stocks
   table.table.table-striped.table-hover#browseStocks
      thead
         tr
            th#stockName Stock Name
            th#stockPrice Price
      tbody
         input#searchbar
.text-center
   .btn.btn-info#add-stock-form View Stock




