//
   Created by saraf on 12/11/2014.

.wrapper
   .h3 Browse Stocks
   input#searchbar(type='text', placeholder='search by ID')
   table.table.table-striped.table-hover#browseStocks
      thead
         tr
            th ID
            th Stock Name
            th Price
      tbody
   .text-center
      form.text-center.form-horizontal#add-stock-form
         fieldset
         .text-center
            .form-group#stock-group
               label.col-lg-2.control-label Add Stock to
               div.btn-group
                  button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                     |Select A Game
                     span.caret
                  ul.dropdown-menu(role="menu")
                     li
                        a(href="#") Test1
                     li
                        a(href="#") Test2
         #button-container
            .btn.btn-success#submit Submit
            .btn.btn-primary#cancel Cancel











