.wrapper
  h4 My Stock Portfolio
  table.table.table-striped.table-hover#user-stocks
    thead
      tr
        th#stock Stock Name
        th#number Number Owned
        th#cost Cost Per Share
        th#trade Buy/Sell
    tbody
